*{
    background-color: #FFFFDD;
    margin-left: 40px;
    margin-right: 40px;
    font-family: sans-serif;
}

body{
    margin: 0;
}

#site-title{
    background-color: brown;
    width: 100%;
    font-size: 80px;
    font-family: sans-serif;
}


.container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
}

.main{
    display: block;
    width: 800;
    margin-right: 20px;    
}

.sidebar {
    width: 320px;
}

.sidebar-item{
    position: sticky;
    margin-bottom: 0;
    top: 10px;
    z-index: 1;
}

h1{
    color:white;
    background-color: #800000;
    font-size: 40px;
}

p{
    margin-left: 40px;
    font-size: 20px;
}

ul, ol{
    font-size: 20px;
    margin-right: 0px;
}

code {
    background-color: #f3f4f4;
    font-family: "Inconsolata"
}
