*{
    background-color: #edef9c;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
.site-header{
    background: #95bfe7;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

.site-footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 70%;
}

#site-title{
    background-color: #95bfe7;
    width: 100%;
    font-size: 70px;
    font-family: sans-serif;
}

.container {
    width: 100%;
    padding: 100px 0 70px 0px;
    display: -webkit-flex;
    display: flex;
}

.main{
    margin:0 auto;
    width: 980px;
    display: block;
}

.sidebar {
    width: 320px;
}

.sidebar-item{
    position: sticky;
    margin-bottom: 0;
    top: 120px;
    z-index: 1;
}

h1{
    color:black;
    background-color: #95bfe7;;
    font-size: 40px;
}

p{
    margin-left: 40px;
    font-size: 20px;
}

ul, ol{
    padding: 0;
    font-size: 20px;
    margin-right: 0px;
}

code {
    background-color: #f3f4f4;
    font-family: "Inconsolata"
}
